.board {
    width: 750px;    
    margin-right: 20%;
    float: right;
}

.plano {
    background-color: #000;
}

.info {    
    top: -50px;
    display: block;
    float: left;
}

.span {
    color: #fff;
}

.move-history {
    max-height: 400px;   
    color: #000; 
    background-color: #fff;
    overflow-y: scroll;
}